.*/

# compressed file
*.gz

# build directory
hw1/build/
hw2/build/
hw3/build/
hw4/build/

# binary
*.pyc
*.so

# data
hw1/data/
hw2/data/
hw3/data/
hw4/data/

# pycache
**/__pycache__/

# test ipynb
test.ipynb