.*/

# compressed file
*.gz

# build directory
build/
CMU10-714/hw1/build/
CMU10-714/hw2/build/
CMU10-714/hw3/build/
CMU10-714/hw4/build/
CMU10-714/hw4_extra/build/

# binary
*.pyc
*.so

# data
data/
CMU10-714/hw1/data/
CMU10-714/hw2/data/
CMU10-714/hw3/data/
CMU10-714/hw4/data/
CMU10-714/hw4_extra/data/

# pycache
**/__pycache__/

# test ipynb
test.ipynb